body{
  width: 900px;
  margin: 0 auto;
  background-color: #000;
  font-family: Arial;
  ;
}

#main{
  width:600px;
  background-color:#fff;
  margin:0 auto;
  text-align: center;
  padding:10px 0px 10px 0px;
}

h2{
  font-weight: bold;
  color:#003399;
}

h1{
  color:#003399;

}